{% extends 'layout.html' %}

{% block title %}Buy{% endblock %}

{% block content %}

<body>
	<h1>Available Products</h1>
<!-------------เป็นคำสั่งที่ใช้ในการสร้าง If - else ภายในตัวของ Html  --------------------->
	{% if 'loggedin' in session %}
		{% if message %}
			<p>{{ message }}</p>
		{% endif %}

		<form method="post" action="/buy">
			{% for item in items %}
				<div>
					<h2>{{ item['name'] }}</h2>
					<p>{{ item['detail'] }}</p>
					<p>{{ item['price'] }}</p>
					<input type="hidden" name="item_id" value="{{ item['id'] }}">
					<input type="submit" value="Buy">
				</div>
			{% endfor %}
		</form>
	{% else %}
		<p>Please log in to buy products.</p>
	{% endif %}
</body>





{% endblock %}